:root {
    --text-color: #667085;
    --text-color-title: #1a2948;
    --main-color: #8E2424;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    list-style-type: none;
}

.title {
    color: var(--text-color-title);
    font-size: 36px;
    font-weight: 600;
    padding: 10px 0;
}

.supporting-text {
    color: var(--text-color);
    font-size: 16px;
    padding: 10px 0;
}

.main-title {
    color: var(--main-color);
}

.nav-bar {
    height: 80px;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    padding: 0px 32px;
    margin: 0 auto;
    margin-top: 30px;
}

.logo {
    display: flex;
    align-items: center;
}


.nav-bar .content {
  width: 500px;
  height: 32px;
  margin-top: 10px;
}

.content .navigation ul{
    display: flex;
    cursor: pointer;
}

.content .navigation ul li {
   padding-right: 30px;
}

.content .navigation ul li a{
    color: var(--text-color-title);
}

.content .navigation ul li a:hover {
    color: var(--text-color);
}

.navgation-action {
    display: flex;
    width: 207px;
    height: 44px;
    left: 1041px;
    top: 0px;
}

.navgation-action .btn-base {
    width: 83px;
    height: 44px;
    border: 0;
    background-color: #ffffff;
    color: var(--text-color-title);
    cursor: pointer;
    margin-right: 10px;
}
.navgation-action .btn-base:hover {
    border: 2px solid var(--main-color);
    border-radius: 8px;
}

.navgation-action .btn {
    width: 112px;
    height: 40px;
    background: var(--main-color);
    border: 0;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: white;
    cursor: pointer;
}

.cabecalho, .metricas {
    height: 307px;
    text-align: center;
    padding: 40px 0;
   
}

.cabecalho .container {
    flex-direction: column;
}

.cabecalho .content {
    width: 792px;
    height: 83px;
    padding: 30px 0;
}

.metrica-item {
    height: 192px;
    width: 280px;
}

.metrica-item span {
    font-size: 60px;
    color: var(--main-color);
    font-weight: 600;
}

.metrica-item h3 {
    color: var(--text-color-title);
    font-size: 18px;
}

.vagas {
    height: 1400px;
    margin-top: 30px;
}

.vagas .talentos .container{
    display: flex;
    flex-direction: column;
    height: 602px;
    text-align: center;
}

.vagas .talentos img {
    width: 100%;
}

.vagas-abertas .item {
    margin: 0 auto;
}

.vagas-abertas .job-post {
    width: 768px;
    padding: 20px 20px;
    border: 1px solid #EAECF0;
    box-sizing: border-box;
    border-radius: 16px;
    margin-bottom: 20px;
}


.vagas-abertas .details .supporting-text{
    display: inline-block;
    padding: 20px 20px 0 0;
}